:root{
    --primary-color: #b209e5d5;
    --dark-color: #141414;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   background: black;
   color: #999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    font-weight: bold;
    color:white;
    
}

a{
    color:white;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

/* img {
    width: 100%;
} */

.head{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("https://thumbs.gfycat.com/AfraidAbleCamel-size_restricted.gif") no-repeat center center/cover;
}

.head::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:rgba(0,0,0,0.3);
    box-shadow: inset 110px 90px 240px #000000,inset -110px -90px 240px #000000;
}

.head-top{
    position: relative;
    height: 90px;
    z-index: 2;
}

.head-content{
    position: relative;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
}

.head-content h1{
    margin: 0 0 1rem;
    line-height: 1.1;
}
.head-content p{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 1rem;
}
.logo{
    width:5em;
    height: 5em;
    border: 1px solid white;
    border-radius: 6em ;
    position: inherit;
    margin-top: 4%;
    margin-left: 50%;
    transform: translate(-50%,-50%); 
}


.tabs{
    background: var(--dark-color);
    padding-top: 1rem;
    
}

.t-bor{
    border-bottom: 5px solid;
  border-image-slice: 1;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #5d00ff, #ff0000);
  }

  .tabs .container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tabs .container > div{
    padding: 2rem 0;
  }

  .tabs .container >div:hover{
    color: white;
    cursor: pointer;
  }

 .tabs p{
    font-size: 1.2rem;
    padding-top: 0.5rem;
 } 

.fa-solid{
    font-size: 2rem;
}

.container{
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
}



.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: aliceblue;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0,0.45);
    border-radius: 5px;
    transition: all 0.4s;
    margin-left: 2.5% ;
}

.all-btn{
    display: inline;
    padding: 0.4rem 1.3rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0,0.45);
    margin-left: 20% ;
}

.btn:hover{
    opacity: 0.9;
    transform: scale(1.2,1.2);
    color: #000000;
}

.btn-lg{
    font-size: 1em;
    padding: 1.0rem 3.0rem;
    text-transform: uppercase;
    background-color: rgb(235, 0, 0);
}

